template(name="room")
    .room.ui.comments.basic.segment
        .comment
            //- Add avatar support later
                a.avatar
                    img(src=avatar)
            .content
                a.author Bob
                .metadata
                    span.date 2h ago
                .text HAHAHHA LOL
        .comment
            //- Add avatar support later
                a.avatar
                    img(src=avatar)
            .content
                a.author Bob
                .metadata
                    span.date 2h ago
                .text HAHAHHA LOL
        
        .comment
            //- Add avatar support later
                a.avatar
                    img(src=avatar)
            .content
                a.author Bob
                .metadata
                    span.date 2h ago
                .text HAHAHHA LOL
        
        .comment
            //- Add avatar support later
                a.avatar
                    img(src=avatar)
            .content
                a.author Bob
                .metadata
                    span.date 2h ago
                .text HAHAHHA LOL
        
        
        .comment
            //- Add avatar support later
                a.avatar
                    img(src=avatar)
            .content
                a.author Bob
                .metadata
                    span.date 2h ago
                .text HAHAHHA LOL
        
        
        .comment
            //- Add avatar support later
                a.avatar
                    img(src=avatar)
            .content
                a.author Bob
                .metadata
                    span.date 2h ago
                .text HAHAHHA LOL
        
        
        .comment
            //- Add avatar support later
                a.avatar
                    img(src=avatar)
            .content
                a.author Bob
                .metadata
                    span.date 2h ago
                .text HAHAHHA LOL
        
        
        .comment
            //- Add avatar support later
                a.avatar
                    img(src=avatar)
            .content
                a.author Bob
                .metadata
                    span.date 2h ago
                .text HAHAHHA LOL
        
        
        .comment
            //- Add avatar support later
                a.avatar
                    img(src=avatar)
            .content
                a.author Bob
                .metadata
                    span.date 2h ago
                .text HAHAHHA LOL
        
        
        .comment
            //- Add avatar support later
                a.avatar
                    img(src=avatar)
            .content
                a.author Bob
                .metadata
                    span.date 2h ago
                .text HAHAHHA LOL
        
        
        .comment
            //- Add avatar support later
                a.avatar
                    img(src=avatar)
            .content
                a.author Bob
                .metadata
                    span.date 2h ago
                .text HAHAHHA LOL
        
        
        .comment
            //- Add avatar support later
                a.avatar
                    img(src=avatar)
            .content
                a.author Bob
                .metadata
                    span.date 2h ago
                .text HAHAHHA LOL
        
        
        .comment
            //- Add avatar support later
                a.avatar
                    img(src=avatar)
            .content
                a.author Bob
                .metadata
                    span.date 2h ago
                .text HAHAHHA LOL
        
        
        .comment
            //- Add avatar support later
                a.avatar
                    img(src=avatar)
            .content
                a.author Bob
                .metadata
                    span.date 2h ago
                .text HAHAHHA LOL
        
        
        .comment
            //- Add avatar support later
                a.avatar
                    img(src=avatar)
            .content
                a.author Bob
                .metadata
                    span.date 2h ago
                .text HAHAHHA LOL
        
        
        .comment
            //- Add avatar support later
                a.avatar
                    img(src=avatar)
            .content
                a.author Bob
                .metadata
                    span.date 2h ago
                .text HAHAHHA LOL
        
        
        .comment
            //- Add avatar support later
                a.avatar
                    img(src=avatar)
            .content
                a.author Bob
                .metadata
                    span.date 2h ago
                .text HAHAHHA LOL
        
        
        .comment
            //- Add avatar support later
                a.avatar
                    img(src=avatar)
            .content
                a.author Bob
                .metadata
                    span.date 2h ago
                .text HAHAHHA LOL
        
        
        